<nav>
  <div class="nav-inner">
    <div class="brand">TI Consultoría</div>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
      <a [routerLink]="['/mantenimiento']" routerLinkActive="active">MANTENIMIENTO</a>
      <a [routerLink]="['/limpieza-respaldos']" routerLinkActive="active">LIMPIEZA Y RESPALDOS</a>
      <a [routerLink]="['/cableado-estructurado']" routerLinkActive="active">CABLEADO ESTRUCTURADO</a>
      <a routerLink="/circuito-cerrado" routerLinkActive="active">CIRCUITO CERRADO</a>
      <a routerLink="/reparacion-movil" routerLinkActive="active">REPARACION MOVIL</a>
      <a routerLink="/desarrollo-software" routerLinkActive="active">DESARROLLO WEB Y SOFTWARE A LA MEDIDA</a>
    </div>
  </div>
</nav>







